In [0]:
spark.read.format("csv") \
     .option("header", "false") \
     .option("inferschema", "false") \
     .option("mode", "FAILFAST") \
     .load("/FileStore/tables/Salary_Data.csv")

Out[5]: DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [0]:
df=spark.read.format("csv") \
   .option("header", "true") \
     .option("inferschema", "false") \
     .option("mode", "FAILFAST") \
     .load("/FileStore/tables/Salary_Data.csv")
df.show(5)

+---+------+---------------+-----------------+-------------------+------+
|Age|Gender|Education Level|        Job Title|Years of Experience|Salary|
+---+------+---------------+-----------------+-------------------+------+
| 32|  Male|     Bachelor's|Software Engineer|                  5| 90000|
| 28|Female|       Master's|     Data Analyst|                  3| 65000|
| 45|  Male|            PhD|   Senior Manager|                 15|150000|
| 36|Female|     Bachelor's|  Sales Associate|                  7| 60000|
| 52|  Male|       Master's|         Director|                 20|200000|
+---+------+---------------+-----------------+-------------------+------+
only showing top 5 rows

In [0]:
res=df.groupBy("Years of Experience")
result=res.count()
result.show()

+-------------------+-----+
|Years of Experience|count|
+-------------------+-----+
|                  7|   18|
|                 15|   16|
|                 11|   10|
|                  3|   30|
|                  8|   25|
|                 22|    9|
|                 16|   18|
|                  0|    3|
|               null|    2|
|                  5|   17|
|                 18|   13|
|                 17|    5|
|                  6|   12|
|                 19|   15|
|                0.5|    1|
|                 23|    2|
|                 25|    3|
|                1.5|   12|
|                  9|   22|
|                 24|    1|
+-------------------+-----+
only showing top 20 rows

In [0]:
df.show()

+---+------+---------------+--------------------+-------------------+------+
|Age|Gender|Education Level|           Job Title|Years of Experience|Salary|
+---+------+---------------+--------------------+-------------------+------+
| 32|  Male|     Bachelor's|   Software Engineer|                  5| 90000|
| 28|Female|       Master's|        Data Analyst|                  3| 65000|
| 45|  Male|            PhD|      Senior Manager|                 15|150000|
| 36|Female|     Bachelor's|     Sales Associate|                  7| 60000|
| 52|  Male|       Master's|            Director|                 20|200000|
| 29|  Male|     Bachelor's|   Marketing Analyst|                  2| 55000|
| 42|Female|       Master's|     Product Manager|                 12|120000|
| 31|  Male|     Bachelor's|       Sales Manager|                  4| 80000|
| 26|Female|     Bachelor's|Marketing Coordin...|                  1| 45000|
| 38|  Male|            PhD|    Senior Scientist|                 10|110000|
| 29|  Male|       Master's|  Software Developer|                  3| 75000|
| 48|Female|     Bachelor's|          HR Manager|                 18|140000|
| 35|  Male|     Bachelor's|   Financial Analyst|                  6| 65000|
| 40|Female|       Master's|     Project Manager|                 14|130000|
| 27|  Male|     Bachelor's|Customer Service Rep|                  2| 40000|
| 44|  Male|     Bachelor's|  Operations Manager|                 16|125000|
| 33|Female|       Master's|   Marketing Manager|                  7| 90000|
| 39|  Male|            PhD|     Senior Engineer|                 12|115000|
| 25|Female|     Bachelor's|    Data Entry Clerk|                  0| 35000|
| 51|  Male|     Bachelor's|      Sales Director|                 22|180000|
+---+------+---------------+--------------------+-------------------+------+
only showing top 20 rows

In [0]:
df.printSchema()

root
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Education Level: string (nullable = true)
 |-- Job Title: string (nullable = true)
 |-- Years of Experience: string (nullable = true)
 |-- Salary: string (nullable = true)