In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
df=pd.read_csv("salary_dataset.csv")
df.drop(['Unnamed: 0'],axis=1)
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [14]:
X=df['YearsExperience'].values
Y=df['Salary'].values

In [15]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [18]:
min_values = np.min(X_train, axis=0)
max_values = np.max(X_train, axis=0)

In [21]:
X_train_scaled = (X_train - min_values) / (max_values - min_values)

# Apply the same scaling parameters to the test set
X_test_scaled = (X_test - min_values) / (max_values - min_values)

X_test_scaled

array([0.9787234 , 0.80851064, 0.30851064, 0.        , 0.11702128,
       0.42553191, 0.19148936, 0.31914894, 0.30851064, 0.72340426,
       0.0212766 , 0.04255319, 0.84042553, 0.09574468, 0.63829787,
       0.89361702, 0.5106383 , 1.        , 0.60638298, 0.22340426,
       0.29787234, 0.36170213, 0.5212766 , 0.20212766])

In [22]:
X_train_scaled

array([0.9787234 , 0.80851064, 0.30851064, 0.        , 0.11702128,
       0.42553191, 0.19148936, 0.31914894, 0.30851064, 0.72340426,
       0.0212766 , 0.04255319, 0.84042553, 0.09574468, 0.63829787,
       0.89361702, 0.5106383 , 1.        , 0.60638298, 0.22340426,
       0.29787234, 0.36170213, 0.5212766 , 0.20212766])